<%= stylesheet_link_tag 'test' %>

<div class="jumbotron">
  <h1>New York, visualized</h1>
  <hr class="m-y-2">
  <p class="lead">Now comparing <select name="first" class="dropdown-toggle"></select> and <select name="second" class="dropdown-toggle"></select> in this data.</p>
</div>
<!--
<div class="row">
  <%= form_tag("/display", method: "post") do %>
  <div id="form-select">
      <%= text_field_tag(:term1) %>
      <%= text_field_tag(:term2) %>
      <%= submit_tag("Discover") %>
    <% end %>
  </div>
</div> -->

<div class="row" align="center">
</div>

<div class="row">
  <div id="scatter-plot"></div>
</div>


<div id="bar-graphs">

</div>


<div id="numbers">

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.15.0/lodash.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.tipsy/1.0.3/jquery.tipsy.min.js"></script>
<%= javascript_include_tag 'scatter' %>
