<%= stylesheet_link_tag 'splash' %>

<div class="hero-bar">
  <div class="container">
  <div class="row">
    <h2>Option 1: Upload a CSV</h2>
    <p>
      Get visualizations instantly, using your own data.
    </p>

  </div>
  <div class="hero-upload container" style="text-align: center;">
  <div class="row">
  <!-- <div class="col-md-2"></div> -->
  <!-- <div class="col-md-8"> -->
    <%= form_tag({:action => :homeUploadCSV}, multipart: true) do %>
    <div class="row" style="margin-left:30px;">
      <div class="col-md-4"></div>
      <%= file_field_tag :file, class: "col-md-2", style: "color:black;margin-top:8px;" %>
      <%= submit_tag( "Import", class: "col-md-1 btn btn-sm btn-brown") %>
      <div class="col-md-4"></div>
      </div>
    <% end %>
    <!-- </div> -->
    <!-- <div class="col-md-2"></div> -->
    </div>
</div>
  <hr>
  <div class="row">
    <h2>Option 2: See a sample visualization page</h2>
    <p>
      <a class="btn btn-primary btn-block" href="<%=home_index_path%>">Check out the NYC dataset.</a>
    </p>
  </div>
</div>
</div>

<div class="row">
</div class="link-list">

<% if @file %>

<h2>Your graph links</h2>

<p><%= link_to 'Bargraph', bargraph_path %></p>
<p> <%= link_to 'Scatter plot', home_index_path %> </p>
<p> <%= link_to 'Line chart', linechart_path %> </p>

<% end %>
</div>

</div>

<script type="text/javascript">
  // $(':submit').on('click', function() {
  //   $('#link_list').append("<h2>Your graphs</h2><p><a href='/bargraph'>Bargraph</a></p><p><a href='/home/index'>Scatter plot</a></p><p><a href='/linecahrt'>Linechart and analytics</a></p>");
  // });
</script>
