<%= stylesheet_link_tag 'splash' %>

<div class="hero-bar">
  <div class="container">
  <div class="row">
    <h2>Option 1: Upload a CSV</h2>
    <p>
      Get visualizations instantly, using your own data.
    </p>
    <!-- <%= form_tag do %>
    <input class=""btn btn-primary btn-block">
    <%= file_field_tag :CSV %>
    <%= submit_tag %>
    <% end %> -->
  </div>
  <hr>
  <div class="row">
    <h2>Option 2: See a sample visualization page</h2>
    <p>
      <a class="btn btn-primary btn-block" href="<%=home_index_path%>">Check out the NYC dataset.</a>
    </p>
  </div>
</div>
</div>
