<!DOCTYPE html>
<html>
  <head>
    <title>Projectfive</title>
    <%= csrf_meta_tags %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://use.fontawesome.com/8620a740d7.js"></script>
    <%= stylesheet_link_tag 'bootstrap.min.css' %>
    <%= stylesheet_link_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Abel|Open+Sans" rel="stylesheet">



    <script src="https://d3js.org/d3.v4.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/mathjs/3.5.1/math.min.js" type="text/css">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
